.home-container{
    height: 100vh;
    width: calc(100vw - 18vw);
    display: flex;
    justify-content: space-around;
    padding: 0rem 5rem;
}

.home-phrase{
    font-size: 86px;
    display: flex;
    align-items: center;
}

.phrase-money{
    color: #1CC8EE;
}

.photos-links{
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 24px;
    color: #6E7191;
}

.photo-link{
    color: #A0A3BD;
    font-size: 16px;
    margin-left: 20px;
}