.balances-container{
    /* background: red; */
    height: 59.9vh;
    display: flex;
    justify-content: center;
}

.balances{
    padding-top: 4rem;
    width: 55rem;
    display: flex;
    justify-content: space-between;
    /* background: green; */
}

.mid-line{
    background: #E5E5EA;
    height: 450px;
    width: 4px;
}