.negative-balance{
    width: 350px;
    height: 80px;
    background: #E7E8EE;
    border-radius: 10px;
    border-bottom: 5px solid #ED2E7E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    color: #6E7191;
    margin-top: 30px;
    padding: 0rem 2rem;
    cursor: default;
}

.negative-balance-amount{
    cursor: pointer;
}

.us-negative{
    color: #ED2E7E;
    font-size: 26px;
    cursor: default;
}

.negative-x{
    color: #ED2E7E;
    cursor: pointer;
}