.organize-container{
    width: calc(100vw - 18vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organize{
    padding-top: 2rem;
    width: 55rem;
}

.your-balance{
    font-size: 28px;
    color: #6E7191;
    transform: translateY(20px);
    cursor: default;
}

.your-money{
    font-size: 64px;
    color: #14142B;
    cursor: default;
}

.money-us{
    color: #1CC8EE;
}

.add-amount{
    margin-top: 10px;
}

.amount{
    background: #E7E8EE;
    border: none;
    height: 70px;
    width: 350px;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-right: 25px;
    font-size: 24px;
    color: #6E7191;
    font-family: 'Poppins', sans-serif;
}

.amount::placeholder{
    font-size: 24px;
    color: #A0A3BD;
    font-family: 'Poppins', sans-serif;
}

.button{
    border: none;
    background: #1CC8EE;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 58px;
    color: #F7F7FC;
    cursor: pointer;
}

.add-description{
    background: #E7E8EE;
    border: none;
    height: 130px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 24px;
    color: #6E7191;
    font-family: 'Poppins', sans-serif;
}

.add-description::placeholder{
    font-size: 24px;
    color: #A0A3BD;
    font-family: 'Poppins', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.amount-and-button{
    display: flex;
}